@model WebBomba.Models.Product.ProductListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5 pt-3 fs-5 text-info text-center">Список товарів</h1>
<hr />

<div class="back">
    @Html.ActionLink("Повернутися до головного меню ↵", "BackToCategoryIndex")
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Категорія
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td class="detail_buttons">

                    <a class="btn btn-outline-success me-1" href="@Url.Action("Details", new { id = item.Id })">Переглянути</a>

                    <a class="btn btn-outline-warning me-1" href="@Url.Action("Edit", new { id = item.Id })">Редагувати</a>

                    <a class="btn btn-outline-danger"
                       data-bs-toggle="modal"
                       data-bs-target="#deleteModal"
                       data-id="@item.Id"
                       data-name="@item.Name">
                        Видалити
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="back">
    <a class="btn btn-outline-info" href="@Url.Action("Add")">Додати новий товар</a>
</div>

@section Scripts {
    <script>
        const deleteModal = document.getElementById('deleteModal');

        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            const itemId = button.getAttribute('data-id');
            const itemName = button.getAttribute('data-name');


            const itemIdPlaceholder = deleteModal.querySelector('#itemIdPlaceholder');

            itemIdPlaceholder.textContent = `Видалити товар - ${itemName}?`;

            const confirmDeleteLink = deleteModal.querySelector('#confirmDeleteLink');
            confirmDeleteLink.href = `/Product/Delete?id=${itemId}`;
        });

    </script>
}

@await Html.PartialAsync("_ModalDelete")